@use "bootstrap/scss/bootstrap" as *;

$primary: #212529;

.accordion-item {
    background-color: transparent !important; 
    border: none; 
}

.accordion-header {
    background-color: transparent !important; 
    color: #fff;
}

.accordion-body {
    background-color: transparent !important;
    color: #fff;
}

.navbar {
    background-color: #212529 !important;
}

